@font-face {
	font-family: Arcade_N;
	src: url('ARCADE_N.TTF');
}
body {
	background-color: black;
	font-family: Arcade_N;
	color: white;
}
a {
	font-size: 25px;
	text-decoration: none;
	color: grey;
}
a:hover {
	color: white;
}
h1 {
	font-size: 40px;
}
.title {
	font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}
.row {
	display: flex;
}
.column {
	flex: 50%;
}
.side {
	margin-top: 40px;
}
label {
	font-size: 60px;
}
.navbar a {
	font-size: 25px;
	text-decoration: none;
	color: grey;
}

.navbar a:hover {
	color: white;
}

.navbar a.active {
	color: white;
}
