@font-face {
	font-family: Arcade_N;
	src: url('ARCADE_N.TTF');
}
body {
	background-color: black;
	font-family: Arcade_N;
	color: white;
}
.row {
	display: flex;
}
.column {
	flex: 50%;
}
.side {
	margin-top: 50px;
}
label {
	font-size: 60px;
}
.navbar a {
	font-size: 30px;
	text-align: left;
	display: block;
	text-decoration: none;
	margin-bottom: 12px;
	color: grey;
}

.navbar a:hover {
	color: white;
}

.navbar a.active {
	color: white;
}